<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Monty's Tech Talks</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
</head>

<body>
    <div id="mainBg" class="bg-success bg-gradient bg-opacity-75 d-flex d-lg-grid min-vh-100">
        <div class="container mb-5">
            <div class="my-2 row">
                <div class="col-12 d-flex justify-content-between">
                    <h1>Monty's Tech Talks</h1>
                    {{#if signedIn}}
                    <button id="sign-out-button-header" class="btn btn-secondary col-auto m-1"><i
                            class="bi bi-door-closed-fill"></i></button>
                    {{else}}
                    <button id="sign-in-button-header" class="btn btn-secondary col-auto m-1">Sign In</button>
                    <button id="sign-up-button-header" class="btn btn-secondary col-auto m-1">Sign Up</button>
                    {{/if}}
                </div>
            </div>
            {{{body}}}
            <nav class="bg-light fixed-bottom justify-content-around navbar">
                <div class="d-flex justify-content-center">
                    {{!-- homepage --}}
                    <a class="m-2 mx-5" href="/">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-house-door-fill" viewBox="0 0 16 16">
                            <path
                                d="M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5z" />
                        </svg>
                    </a>
                </div>
                <div class="d-flex justify-content-center">
                    {{!-- create a post --}}
                    {{#if signedIn}}
                    <a class="m-2 mx-5" href="/createPost">
                        {{else}}
                        <a class="m-2 mx-5" href="/signin">
                            {{/if}}
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
                                <path
                                    d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z" />
                            </svg>
                        </a>
                </div>
                <div class="d-flex justify-content-center">
                    {{!-- user profile page --}}
                    {{#if signedIn}}
                    <a class="m-2 mx-5" href="/users/{{currentUser}}">
                        {{else}}
                        <a class="m-2 mx-5" href="/signin">
                            {{/if}}
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-people-fill" viewBox="0 0 16 16">
                                <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                                <path fill-rule="evenodd"
                                    d="M5.216 14A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216z" />
                                <path d="M4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5z" />
                            </svg>
                        </a>
                </div>
            </nav>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
        crossorigin="anonymous"></script>
    <script src="/assets/js/main.js"></script>

</body>

</html>