<div class="container d-lg-grid pt-5 text-center">
    <div
        class="bg-gradient bg-opacity-75 bg-secondary border border-2 border-dark justify-content-center rounded-2 row shadow-lg">
        <div id="post">
            <div id="topbar">
                <div id="title-username" class="col-7 m-auto">
                    <div id="title" class="text-capitalize text-break">
                        <h1>{{post.title}}</h1>
                    </div>
                    <div id="username">
                        <h3><a href="/{{post.username}}">{{post.username}}</a></h3>
                    </div>
                </div>
            </div>
            <div id="content" class="text-break">
                <p>{{post.content}}</p>
            </div>
        </div>
        <div id="comment-section" class="justify-content-center row">
            {{#if signedIn}}
            <div class="col-7">
                <input type="text" id="comment-input" class="form-control input-group-text text-break text-wrap"
                placeholder="Leave a comment"/>
                <br>
                <button id="comment-button" class="btn btn-dark col-12">Submit</button>
            </div>
            {{/if}}
            <div id="comments" class="bg-light border border-dark col-7 justify-content-center m-3 rounded-5 row text-break">
                {{#each comments as |comment|}}
                <div class="border border-dark col-7 text-wrap">
                     <p>{{comment.user.username}}</p>
                    <p>{{comment.comment}}</p>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
</div>